<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "FREE CRM Test Automation Suite">

	<listeners>
		<listener class-name = "com.qa.ExtentReportListener.ExtentReporterNG"  />
	</listeners>


	<test name = "FREE CRM APLLICATION Feature Test">
	
		<classes>
			<class name = "com.crm.qa.testcases.LoginPageTest" />
			<class name = "com.crm.qa.testcases.HomePageTest" />
			<class name = "com.crm.qa.testcases.ContactsPageTest" />
		</classes>
		
	</test>
	
</suite>